@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/svg-with-js.min.css";

body {
    padding-top: 50px;
}

hr {
    width: 100%;
    border-color: black;
    border-radius: 50%;
}

th div {
    display: flex;
    justify-content: space-between;
}

th:not([data-type="exclude"]):hover {
    cursor: pointer;
    color: var(--gray);
}

th[data-direction="asc"] div::after {
    content: "▲";
}

th[data-direction="desc"] div::after {
    content: "▼";
}

th div.row-reverse {
    flex-direction: row-reverse;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.column-100 {
    width: 100px;
}

.column-150 {
    width: 150px;
}

.column-200 {
    width: 200px;
}

.form-grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
    align-items: start;
}

.form-grid fieldset input {
    width: 100%;
}

.form-grid fieldset div {
    font-size: 0.85em;
    margin-top: 4px;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stack.stack-row {
    flex-direction: row;
}

.stack-gap-large {
    gap: 30px;
}

button.icon {
    border: 3px solid transparent;
    border-radius: 10px;
    background: transparent;
    transition: border 0.5s ease-in-out;
}

button.icon:hover {
    border-color: var(--secondary);
}

button.icon.delete {
    color: var(--danger);
}

button.icon.edit {
    color: var(--success);
}

button.icon.toggle {
    color: var(--primary);
}

.hidden,
.notEnabled {
    display: none;
}

.form-wrapper {
    margin-top: 20px;
}

.form-wrapper form {
    width: 725px;
    gap: 20px;
}

.form-wrapper form fieldset {
    column-gap: 10px;
    align-items: center;
}

label {
    margin-bottom: unset;
}

#form .add,
#form .edit {
    display: none;
}

#form.create .add {
    display: block;
}

#form.update .edit {
    display: block;
}