<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Feature Flag</title>

    <link rel="stylesheet" href="/main.css">
    <script src="/components/flagged-feature.js"></script>
    <script>
      const handleRadioSelect = (type) => {
        window.location.href = `/${type}`;
      };
    </script>
</head>
<body class="container">

<flagged-feature flag-key="<%= exampleFlag %>">
    <template slot="feature">
        <div class="alert alert-success">
            <strong><%= label %></strong> You can see this flagged feature!
            <div><%= note %></div>
        </div>
    </template>
</flagged-feature>

<main class='stack stack-gap-large'>
    <h1>&nbsp;&nbsp;Feature Flags&nbsp;&nbsp;</h1>

    <div>
        <h6>Select the option for how environments & databases are set up</h6>
        <div id='radio-group' class='stack stack-gap-large'>
            <button class="btn btn-primary" type='button' onclick='handleRadioSelect("own")'>
                Own: Each environment has its own database
            </button>

            <button class="btn btn-primary" type='button' onclick='handleRadioSelect("shared")'>
                Shared: Each environment shares a single database
            </button>
        </div>
    </div>
</main>
</body>
</html>