<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feature Flag</title>


    <link rel="stylesheet" href="/main.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src='/main.js'></script>
</head>
<body class="container">
<main>
    <div class='title'>
        <h1>Feature Flags</h1>
        <button type="button" class="btn btn-primary" onclick='addNewFlag()'>
            <i class='fa-solid fa-plus'></i>
            New
        </button>
    </div>

    <table class='table table-bordered'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class='column-100'>Enabled</th>
            <th class='column-200 text-right'>Updated At</th>
            <th class='column-100 text-center'>Actions</th>
        </tr>
        </thead>
        <tbody id='flags'></tbody>
    </table>

    <div id='form' class='add-new stack notEnabled'>
        <hr />
        <h2>Add new</h2>

        <p>New flags will be enabled by default</p>

        <form class='stack'>
            <div class='stack stack-row'>
                <fieldset class='stack stack-row'>
                    <label for='name'>Name</label>
                    <input type='text' id='name' name='name' />
                </fieldset>

                <fieldset class='stack stack-row'>
                    <label for='desc'>Description</label>
                    <input type='text' id='desc' name='description' />
                </fieldset>
            </div>

            <div class='stack stack-row stack-gap-large'>
                <button class='btn btn-warning' type='button' onclick='cancel()'>Cancel</button>
                <button class='btn btn-primary' type='button' onclick='submitForm()'>Submit</button>
            </div>
        </form>
    </div>
</main>

<script>
  const data = `<%= JSON.stringify(flags) %>`;
  const str = data.replaceAll('&#34;', '"');
  const flags = JSON.parse(str);
  const allFlags = [];
  flags.sort((a, b) => a.enabled ? -1 : 1).forEach(flag => {
    allFlags.push(createRow(flag));
  });

  document.getElementById('flags').innerHTML = allFlags.join('')
</script>
</body>
</html>