<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feature Flag</title>

    <link rel="stylesheet" href="/main.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>
        window.flags = `<%= JSON.stringify(flags) %>`;
    </script>
    <script src='/main.js'></script>
</head>
<body class="container">
<main>
    <div class='title'>
        <h1>Feature Flags</h1>
        <button type="button" class="btn btn-primary" onclick='addNewFlag()'>
            <i class='fa-solid fa-plus'></i>
            New
        </button>
    </div>

    <div style='margin-bottom: 30px'>
        <fieldset class='stack stack-row'>
            <label for='search'>Search</label>
            <input type='search' id='search' onkeyup='handleSearch()'>

            <button type='button' onclick='clearSearch()'>Cancel</button>
        </fieldset>
    </div>

    <table class='table table-bordered'>
        <thead>
        <tr>
            <th><div>Name</div></th>
            <th><div>Description</div></th>
            <th class='column-150' data-type='boolean' data-direction='asc'>
                <div>Enabled</div>
            </th>
            <th class='column-200' data-type='date'>
                <div class='row-reverse'>Updated At</div>
            </th>
            <th class='column-100 text-center' data-type='exclude'>Actions</th>
        </tr>
        </thead>
        <tbody id='flags'></tbody>
    </table>

    <div id='form' class='add-new stack notEnabled'>
        <hr />
        <h2>Add new</h2>

        <p>New flags will be enabled by default</p>

        <form class='stack'>
            <div class='stack stack-row'>
                <fieldset class='stack stack-row'>
                    <label for='name'>Name</label>
                    <input type='text' id='name' name='name' />
                </fieldset>

                <fieldset class='stack stack-row'>
                    <label for='desc'>Description</label>
                    <input type='text' id='desc' name='description' />
                </fieldset>
            </div>

            <div class='stack stack-row stack-gap-large'>
                <button class='btn btn-warning' type='button' onclick='cancel()'>Cancel</button>
                <button class='btn btn-primary' type='button' onclick='submitForm()'>Submit</button>
            </div>
        </form>
    </div>
</main>

<script src='/bottom.js'></script>
</body>
</html>