<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Feature Flag</title>

    <link rel="stylesheet" href="/main.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/components.js"></script>
    <script src='/setup.js'></script>
    <script>
        const handleRadioSelect = (type) => {
          new PageSetup(type);
        };
    </script>
</head>
<body class="container">
<main class='stack stack-gap-large'>
    <h1>&nbsp;&nbsp;Feature Flags&nbsp;&nbsp;</h1>

    <div>
        <h6>Options for how environments & databases are set up</h6>
        <div id='radio-group' class='stack stack-gap-small'>
            <label for='radio-button-own'>
                <input
                    type='radio'
                    id='radio-button-own'
                    name='radio-group'
                    value='own'
                    onchange='handleRadioSelect("own")'
                />
                Own Databases
            </label>

            <label for='radio-button-single'>
                <input
                    type='radio'
                    id='radio-button-single'
                    name='radio-group'
                    value='single'
                    onchange='handleRadioSelect("shared")'
                />
                Shared Database
            </label>
        </div>
        <hr/>
    </div>

    <div id='content'></div>
</main>
</body>
</html>